<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
  <style>
body{
 background-color:teal;
}
.container{
  background-color:aqua;
}
  </style>
  
  
  
  
  </head>
  <body>
    <div class="container">
      <div class="col-sm-8 offset-sm-2">
        <h1>Office Empolyee Management System</h1>
       <hr>
       <h4>Customer Registration</h4>
    
    
       <form action="" method="post" novalidate class="shadow p-5">
          {% if messages %}
          {% for message in messages %}
           <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}}</p>
          {% endfor %}
          {% endif %}
           {% csrf_token %}
           {% for fm in form %}
            <div class="form-group mb-3">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
            </div>
           {% endfor %}
           <input type="submit" value="Submit" class="btn btn-secondary">
           <br>
           <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login'%}" class="text-danger">Login Now</a> </small></div>
           {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
             <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
           {% endif %}
       </form>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
